.long_1000_template_PAC_1 {
    background: url("../opeco/automne.png") no-repeat left 51px center #D2A888 !important;
}
.long_1000_template_PAC_1 .ems_top_mono_button span {
    color: #D2A888 !important;
}
.long_1000_template_PAC_1 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-d2a888.svg) no-repeat left center !important;
}
.long_1000_template_PAC_2 {
    background: url("../opeco/bons-plans.png") no-repeat left 51px center #9F7259 !important;
}
.long_1000_template_PAC_2 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_1000_template_PAC_2 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-9f7259.svg) no-repeat left center !important;
}
.long_1000_template_PAC_3 {
    background: url("../opeco/euro-boulanger.png") no-repeat left 51px center #283a61 !important;
}
.long_1000_template_PAC_3 .ems_top_mono_button span {
    color: #283a61 !important;
}
.long_1000_template_PAC_3 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-16677a.svg) no-repeat left center !important;
}
.long_1000_template_PAC_4 {
    background: url("../opeco/joursb.png") no-repeat left 51px center #D14600 !important;
}
.long_1000_template_PAC_4 .ems_top_mono_button span {
    color: #D14600 !important;
}
.long_1000_template_PAC_4 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-d14600.svg) no-repeat left center !important;
}
.long_1000_template_PAC_5 {
    background: url("../opeco/bons-plans-03.png") no-repeat left 51px center #9F7259 !important;
}
.long_1000_template_PAC_5 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_1000_template_PAC_5 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-9f7259.svg) no-repeat left center !important;
}
.long_1000_template_PAC_6 {
    background: url("../opeco/happy-chef.png") no-repeat left 51px center #e9b235 !important;
}
.long_1000_template_PAC_6 .ems_top_mono_button span {
    color: #e9b235 !important;
}
.long_1000_template_PAC_6 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-e9b235.svg) no-repeat left center !important;
}
.long_1000_template_PAC_7 {
    background: url("../opeco/fdm.png") no-repeat left 51px center #A02145 !important;
}
.long_1000_template_PAC_7 .ems_top_mono_button span {
    color: #A02145 !important;
}
.long_1000_template_PAC_7 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-a02145.svg) no-repeat left center !important;
}
.long_1000_template_PAC_8 {
    background: url("../opeco/soldes-2021.png") no-repeat left 51px center #EF4452 !important;
}
.long_1000_template_PAC_8 .ems_top_mono_button span {
    color: #EF4452 !important;
}
.long_1000_template_PAC_8 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-ef4452.svg) no-repeat left center !important;
}
.long_1000_template_PAC_9 {
    background: url("/content/static/bcom/desktop/ems/opeco/bons-plans-02.png") no-repeat left 51px center #9F7259 !important;
}
.long_1000_template_PAC_9 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_1000_template_PAC_9 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-9f7259.svg) no-repeat left center !important;
}
.long_1000_template_PAC_10 {
    background: url("../opeco/special-vacances.png") no-repeat left 51px center #0099e3 !important;
}
.long_1000_template_PAC_10 .ems_top_mono_button span {
    color: #0099e3 !important;
}
.long_1000_template_PAC_10 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-0099e3.svg) no-repeat left center #ffffff !important;
}
.long_860_template_PAC_1 {
    background: url("../opeco/automne.png") no-repeat left 51px center #D2A888 !important;
}
.long_860_template_PAC_2 {
    background: url("../opeco/bons-plans.png") no-repeat left 51px center #9F7259 !important;
}
.long_860_template_PAC_3 {
    background: url("../opeco/euro-boulanger.png") no-repeat left 51px center #283a61 !important;
}
.long_860_template_PAC_4 {
    background: url("../opeco/joursb.png") no-repeat left 51px center #D14600 !important;
}
.long_860_template_PAC_5 {
    background: url("../opeco/bons-plans-03.png") no-repeat left 51px center #9F7259 !important;
}
.long_860_template_PAC_6 {
    background: url("../opeco/happy-chef.png") no-repeat left 51px center #e9b235 !important;
}
.long_860_template_PAC_7 {
    background: url("../opeco/fdm.png") no-repeat left 51px center #A02145 !important;
}
.long_860_template_PAC_8 {
    background: url("../opeco/soldes-2021.png") no-repeat left 51px center #EF4452 !important;
}
.long_860_template_PAC_9 {
    background: url("/content/static/bcom/desktop/ems/opeco/bons-plans-02.png") no-repeat left 51px center #9F7259 !important;
}
.long_860_template_PAC_10 {
    background: url("../opeco/special-vacances.png") no-repeat left 51px center #0099e3 !important;
}
.long_705_template_PAC_1 {
    background-color: #D2A888 !important;
}
.long_705_template_PAC_1 .ems_top_mono_button span {
    color: #D2A888 !important;
}
.long_705_template_PAC_1 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-d2a888.svg) no-repeat left center !important;
}
.long_705_template_PAC_2 {
    background-color: #9F7259 !important;
}
.long_705_template_PAC_2 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_705_template_PAC_2 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-9f7259.svg) no-repeat left center !important;
}
.long_705_template_PAC_3 {
    background-color: #88ae6f !important;
}
.long_705_template_PAC_3 .ems_top_mono_button span {
    color: #88ae6f !important;
}
.long_705_template_PAC_3 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-16677a.svg) no-repeat left center !important;
}
.long_705_template_PAC_4 {
    background-color: #D14600 !important;
}
.long_705_template_PAC_4 .ems_top_mono_button span {
    color: #D14600 !important;
}
.long_705_template_PAC_4 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-d14600.svg) no-repeat left center !important;
}
.long_705_template_PAC_5 {
    background-color: #9F7259 !important;
}
.long_705_template_PAC_5 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_705_template_PAC_5 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-9f7259.svg) no-repeat left center !important;
}
.long_705_template_PAC_6 {
    background-color: #e9b235 !important;
}
.long_705_template_PAC_6 .ems_top_mono_button span {
    color: #e9b235 !important;
}
.long_705_template_PAC_6 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-e9b235.svg) no-repeat left center !important;
}
.long_705_template_PAC_7 {
    background-color: #A02145 !important;
}
.long_705_template_PAC_7 .ems_top_mono_button span {
    color: #A02145 !important;
}
.long_705_template_PAC_7 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-a02145.svg) no-repeat left center !important;
}
.long_705_template_PAC_8 {
    background-color: #EF4452 !important;
}
.long_705_template_PAC_8 .ems_top_mono_button span {
    color: #EF4452 !important;
}
.long_705_template_PAC_8 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-ef4452.svg) no-repeat left center !important;
}
.long_705_template_PAC_9 {
    background-color: #9F7259 !important;
}
.long_705_template_PAC_9 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_705_template_PAC_9 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-9f7259.svg) no-repeat left center !important;
}
.long_705_template_PAC_10 {
    background-color: #0099e3 !important;
}
.long_705_template_PAC_10 .ems_top_mono_button span {
    color: #0099e3 !important;
}
.long_705_template_PAC_10 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(../img/btn-0099e3.svg) no-repeat left center #ffffff !important;
}
.long_1000_template_PAC_3,
.long_1000_template_PAC_4,
.long_1000_template_PAC_5,
.long_1000_template_PAC_6,
.long_1000_template_PAC_7,
.long_1000_template_PAC_8,
.long_1000_template_PAC_9,
.long_1000_template_PAC_10,
.long_860_template_PAC_10,
.long_860_template_PAC_2,
.long_860_template_PAC_3,
.long_860_template_PAC_4,
.long_860_template_PAC_5,
.long_860_template_PAC_6,
.long_860_template_PAC_7,
.long_860_template_PAC_8,
.long_860_template_PAC_9 {
    background: url() left 51px center no-repeat #999999;
}
.long_1000_template_PAC_3 .ems_top_mono_button span,
.long_1000_template_PAC_4 .ems_top_mono_button span,
.long_1000_template_PAC_5 .ems_top_mono_button span,
.long_1000_template_PAC_6 .ems_top_mono_button span,
.long_1000_template_PAC_7 .ems_top_mono_button span,
.long_1000_template_PAC_8 .ems_top_mono_button span,
.long_1000_template_PAC_9 .ems_top_mono_button span,
.long_1000_template_PAC_10 .ems_top_mono_button span,
.long_705_template_PAC_2 .ems_top_mono_button span,
.long_705_template_PAC_3 .ems_top_mono_button span,
.long_705_template_PAC_4 .ems_top_mono_button span,
.long_705_template_PAC_5 .ems_top_mono_button span,
.long_705_template_PAC_6 .ems_top_mono_button span,
.long_705_template_PAC_7 .ems_top_mono_button span,
.long_705_template_PAC_8 .ems_top_mono_button span,
.long_705_template_PAC_9 .ems_top_mono_button span,
.long_705_template_PAC_10 .ems_top_mono_button span {
    color: #999999;
}
.long_1000_template_PAC_3 .ems_top_mono_button:after,
.long_1000_template_PAC_4 .ems_top_mono_button:after,
.long_1000_template_PAC_5 .ems_top_mono_button:after,
.long_1000_template_PAC_6 .ems_top_mono_button:after,
.long_1000_template_PAC_7 .ems_top_mono_button:after,
.long_1000_template_PAC_8 .ems_top_mono_button:after,
.long_1000_template_PAC_9 .ems_top_mono_button:after,
.long_1000_template_PAC_10 .ems_top_mono_button:after,
.long_705_template_PAC_2 .ems_top_mono_button:after,
.long_705_template_PAC_3 .ems_top_mono_button:after,
.long_705_template_PAC_4 .ems_top_mono_button:after,
.long_705_template_PAC_5 .ems_top_mono_button:after,
.long_705_template_PAC_6 .ems_top_mono_button:after,
.long_705_template_PAC_7 .ems_top_mono_button:after,
.long_705_template_PAC_8 .ems_top_mono_button:after,
.long_705_template_PAC_9 .ems_top_mono_button:after,
.long_705_template_PAC_10 .ems_top_mono_button:after {
    width: 23px;
    background: url(../img/btn-mask.svg) left center no-repeat #999999 ;
}
.long_705_template_PAC_2,
.long_705_template_PAC_3,
.long_705_template_PAC_4,
.long_705_template_PAC_5,
.long_705_template_PAC_6,
.long_705_template_PAC_7,
.long_705_template_PAC_8,
.long_705_template_PAC_9,
.long_705_template_PAC_10 {
    background-color: #999999;
}